* {
    margin: 0;
    box-sizing: border-box;
}

/* header style */
.header {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
   width: 1380px;
    height: 809px;
}

.header-description {
    color: #444343;
    margin-top: 24px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background: #fd6e0a;
    border-radius: 8px;
    color: #ffffff;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 32px;
}

.header-title {
    text-align: left;
    padding-top: 216px;
    margin-right: 230px;
        width: 30%;
        margin-left: 70%;
}
/* about me style */
.about{
margin-top: 130px;
background: #FFF8F3;
border-radius: 10px;

padding: 130px 150px;
}
.about-section-title{
    text-align: center;
font-weight: 700;
font-size: 35px;
margin-bottom: 30px;
}
.section-description{
font-size: 18px;
text-align: center;
color: #757575;
margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.info-title{
font-weight: 400;
font-size: 20px;
}
.info{
   font-weight: 700;
   font-size: 20px;
   color: #474747;
}

/* failure styles */
.failure-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-section {
    display: flex;
    margin-top: 130px;
    margin-left: 205px;
}

.failure-sub-section {
    margin-top: 370px;
    margin-right: 180px;
    margin-left: 90px;
}

/* plan section style */
.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
    margin-left: 670px;
}

.plan-container {
    display: flex;
    margin-left: 220px;
}

.plan-main {
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 19px;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* positive mindset style */
.positive {
    background-image: linear-gradient(to right, #f15b22, #ffffff00),
        url("../images/watch.png");
    background-repeat: no-repeat;
    width: 1150px;
    height: 300px;
    border-radius: 8px;
    margin: 124px 150px;
}

.sub-positive {
    padding: 64px 60px;
}

.positive-description {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 24px;
}

.btn-secondary {
    width: 160px;
    height: 64px;
    background: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #f15b22;
}

/* footer section styles */
.footer{
    background: #151414;
    width: 1380px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding: 130px;
}
.btn-footer{
     width: 130px;
    height: 50px;
    background: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #f15b22;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 12px;
}

.footer-title2{
font-weight: 600;
font-size: 25px;
color: #FFFFFF;
margin-bottom: 30px;
}

.footer-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom:20px;
}

.footer-form{
    margin-bottom: 24px;
}